

@media screen and (max-width: 600px) {

    .body {
        margin: 0;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .line{
        display: none;
    }
    .asaide{text-align: center;
    margin: 10px;}
    .head {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        margin: 0; 
    }
    .buttonMenu{
        background-color: rgba(0,0 ,0,0);
        width: 40px;
        height: 50px; 
        border: none;
    }
    .headMain p{
        font-weight: bold;
        font-size: 20px;  
        margin: 2px;
    }
    .not{
        background-color: transparent;
        border: none;
    }
    .noticiasCard { 
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        white-space: nowrap;
        display: flex;
        height: 90%;
        width: 100%;

    }
    .mainBody{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }

    .noticias{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 

    }
    .events{
   
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    
    }
    .eventsCard{
        overflow-x: scroll;
        white-space: nowrap;
        display: flex;
        height: 300px;
        width: 350px;
    }
    .eventsHead p {
        font-weight: bold;
        font-size: 20px;  
        margin: 2px;
    }

    .listItems{
        display: none;
    }

}
